# Whitelist: this folder also holds a personal collection, photos and
# tools. Everything is ignored except what is listed here.
/*
!/.gitignore
!/README.md
!/README.es.md
!/LICENSE
!/index.html
!/manifest.webmanifest
!/sw.js
!/import-list.js
!/server.js
!/cards.txt

!/icons/
/icons/*
!/icons/*.png

!/tools/
/tools/*
!/tools/*.js
!/tools/names.csv
